@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f4faf6;
  --foreground: #161f18;
  --card: #eaf4ed;
  --card-foreground: #161f18;
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(62.7% 0.194 149.214);
  --primary-foreground: #f4faf6;
  --secondary: #e8e9ed;
  --secondary-foreground: #1a2220;
  --muted: #222825;
  --muted-foreground: #a5a9b1;
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #242b26;
  --input: #242b26;
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
}

.dark {
  --background: #0d120f;
  --foreground: #e8e9ed;
  --card: #131a16;
  --card-foreground: #e8e9ed;
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(72.3% 0.219 149.579);
  --primary-foreground: #f4faf6;
  --secondary: #1a2220;
  --secondary-foreground: #e8e9ed;
  --muted: #222825;
  --muted-foreground: #9ca3af;
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: #242b26;
  --input: #242b26;
  --ring: oklch(0.556 0 0);
  --radius: 0.625rem;
}

@theme inline {
  --font-noto: var(--font-noto);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
